GridDisplayClient/Service References/ServiceReference1/GridDisplayService.Contracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GridDisplayService.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GridDisplayService.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGridRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GridRow" nillable="true" type="tns:GridRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGridRow" nillable="true" type="tns:ArrayOfGridRow" />
  <xs:complexType name="GridRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archived" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GridRow" nillable="true" type="tns:GridRow" />
</xs:schema>