GridDisplayClient/Service References/ServiceReference1/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GridDislpayEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GridDislpayEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archived" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDto" nillable="true" type="tns:ProductDto" />
</xs:schema>